<script type="text/javascript" charset="UTF-8" src="https://cdn.mangaka.jp/js/compass-gam.js"></script>
<script type="text/javascript">
  var mangakaCompass = mangakaCompass || {};
  mangakaCompass.gamQueue = mangakaCompass.gamQueue || [];
  mangakaCompass.gamQueue.push({
  #foreach ($param in $params.entrySet())
    "$param.key": "$param.value"#if($foreach.hasNext),#end
  #end
  });
</script>
