<template>
  <div :id="spotId" :width="width" :height="height">
    <component is="script" type="text/javascript">
      var mangakaCompass = mangakaCompass || {};
      mangakaCompass.queue = mangakaCompass.queue || [];
    </component>
    <component
      is="script"
      type="text/javascript"
      charset="UTF-8"
      src="//j.mangaka.net/js/compass.js"
      onload="new mangakaCompass.AdInitializer().initialize();"
    />
  </div>
</template>

<script setup lang="ts">
import {onMounted} from "vue";

const props = defineProps({spotId: String, width: String, height: String});

onMounted(() => {
  // @ts-ignore
  mangakaCompass.queue.push({
  #foreach ($param in $params.entrySet())
    #if($param.key == "spot")
    $param.key: $param.value#if($foreach.hasNext),#end
    #else
    $param.key: "$param.value"#if($foreach.hasNext),#end
    #end
  #end
  });
})
</script>
