'use client';
import Script from "next/script";
import {useEffect} from "react";
function Spot({spotId, width, height}: { spotId: string, width?: string, height?: string }) {
  function getAd() {
    // @ts-ignore
    if (window.mangakaCompass == null) return
    // @ts-ignore
    window.mangakaCompass.queue = window.mangakaCompass.queue || [];
    // @ts-ignore
    window.mangakaCompass.queue.push({
    #foreach ($param in $params.entrySet())
      #if($param.key == "spot")
      $param.key: $param.value#if($foreach.hasNext),#end
      #else
      $param.key: "$param.value"#if($foreach.hasNext),#end
      #end
    #end
    })
  }
  useEffect(() => {
    getAd();
  }, [])
  function init() {
    getAd()
    // @ts-ignore
    new window.mangakaCompass.AdInitializer().initialize()
  }
  return (
    <>
      <Script
        type="text/javascript"
        charSet="UTF-8"
        src="//j.mangaka.net/js/compass.js"
        onLoad={init}
        async
      />
      <div id={spotId} {... {width, height}} ></div>
    </>
  )
}
export default Spot;
