{
  code: '${encryptedSpotId}', // codeの値は適宜編集してご利用ください
  mediaTypes: {
    banner: {
      sizes: [#*
        *##foreach ($sizeTypeInfo in $sizeTypeInfoList)#*
          *#[${sizeTypeInfo.width}, ${sizeTypeInfo.height}]#if($foreach.hasNext),#end#*
        *##end#*
    *#]
    }
  },
  bids: [
    {
      bidder: 'mangaka',
      params: {
      #foreach ($param in $params.entrySet())
        ${param.key}: '${param.value}'#if($foreach.hasNext),#end
      #end
      }
    }
  ]
}
